{% extends 'base.html' %}

{% block head %}
    <title>BBI DB - Companies</title>
{% endblock %}

{% block body %}

    <div style="padding-left: 20px;">
    <h1><i class="fas fa-chalkboard-teacher"></i> BBIDB Archives </h1>
    </div>
    <hr>

    <div class="container-fluid options_box">
        <form action="{% url 'bbidb:archive_action' %}" method="post" id="action_form">
            {% csrf_token %}

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="action_no" value="-1" autocomplete="off" > Off
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="action_no" value="restore" autocomplete="off"> Restore
                </label>
            </div>

            <div id="submit_button" style="display: none;">
                <input type="submit" id="submit_button" class="btn btn-primary btn-lg" value="Go">
            </div>

        </form>
    </div>
    <br>

    <table id="archives_table" class="display" border='2' align="center" style="width:100%">

        <caption><i>BBIDB Archived</i></caption>

        <thead>
        <tr>
            <th></th>
            <th>Type</th>
            <th>Name</th>
            <th>Date Archivised</th>
        </tr>
        </thead>

        <tbody>
        {# ------------------- COMPANIES ARCH ------------------- #}
        {% for company in arch_companies %}
            {% if  company.name != "None" %}
                <tr>
                <TD class="c3" align="center">
                    <input class="form-check-input" type="checkbox" name="arch_company" value="{{ company.id }}"
                           form="action_form" title="Select">
                </TD>
                <TD class="c3" align="center">Company</TD>
                <TD class="c3" align="center"><a
                        href="{% url 'bbidb:company_details' company.id %}">{{ company.name }}</a></TD>
                <TD class="c3" align="center">{{ company.archivised_date|date:"Y-m-d" }}</TD>
            {% endif %}
        </tr>
        {% endfor %}
        {# ------------------- CONTACTS ARCH ------------------- #}
        {% for contact in arch_contacts %}
            {% if  contact.name != "None" %}
                <tr>
                <TD class="c3" align="center">
                    <input class="form-check-input" type="checkbox" name="arch_contact" value="{{ contact.id }}"
                           form="action_form" title="Select">
                </TD>
                <TD class="c3" align="center">Contact</TD>
                <TD class="c3" align="center"><a
                        href="{% url 'bbidb:contact_details' contact.id %}">{{ contact.company.name }}
                    - {{ contact.name }} {{ contact.surname }} </a></TD>
                <TD class="c3" align="center">{{ contact.archivised_date|date:"Y-m-d" }}</TD>
            {% endif %}
        </tr>
        {% endfor %}
        {# ------------------- PROJECTS ARCH ------------------- #}
        {% for project in arch_projects %}
            {% if  project.name != "None" %}
                <tr>
                <TD class="c3" align="center">
                    <input class="form-check-input" type="checkbox" name="arch_project" value="{{ project.id }}"
                           form="action_form" title="Select">
                </TD>
                <TD class="c3" align="center">Project</TD>
                <TD class="c3" align="center"><a
                        href="{% url 'bbidb:project_contacts' project.id %}">{{ project.name }} </a></TD>
                <TD class="c3" align="center">{{ project.archivised_date|date:"Y-m-d" }}</TD>
            {% endif %}
        </tr>
        {% endfor %}
        {# ------------------- PROJECT CONTACTS ARCH ------------------- #}
        {% for project_contact in arch_project_contacts %}
            {% if  project_contact.name != "None" %}
                <tr>
                <TD class="c3" align="center">
                    <input class="form-check-input" type="checkbox" name="arch_project_contact"
                           value="{{ project_contact.id }}"
                           form="action_form" title="Select">
                </TD>
                <TD class="c3" align="center">Project Contact</TD>
                <TD class="c3" align="center"><a
                        href="{% url 'bbidb:project_contact_details' project_contact.id %}">{{ project_contact.project.name }}
                    - {{ project_contact.contact.company.name }}
                    - {{ project_contact.contact.name }} {{ project_contact.contact.surname }}</a></TD>
                <TD class="c3" align="center">{{ project_contact.archivised_date|date:"Y-m-d" }}</TD>
            {% endif %}
        </tr>
        {% endfor %}
        {# ------------------- PROJECT WORKS ARCH ------------------- #}
        {% for project_work in arch_project_works %}
            {% if  project_work.name != "None" %}
                <tr>
                <TD class="c3" align="center">
                    <input class="form-check-input" type="checkbox" name="arch_project_work"
                           value="{{ project_work.id }}"
                           form="action_form" title="Select">
                </TD>
                <TD class="c3" align="center">Project Work</TD>
                <TD class="c3" align="center">{{ project_work.project.name }} - {{ project_work.name }}</TD>
                <TD class="c3" align="center">{{ project_work.archivised_date|date:"Y-m-d" }}</TD>
            {% endif %}
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <hr>

{% endblock %}
{% block js %}
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
    {#    <link rel="stylesheet" type="text/css"#}
    {#          href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.3/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/sc-2.0.0/sl-1.3.0/datatables.min.css"/>#}
    {##}
    {#    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>#}
    {#    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>#}
    {#    <script type="text/javascript"#}
    {#            src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.3/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/sc-2.0.0/sl-1.3.0/datatables.min.js"></script>#}

    <script>

        $(document).ready(function () {
            $('#archives_table').DataTable({
                    dom: 'B<"clear">lfrtip',
                    buttons: {
                        name: 'primary',
                        buttons: ['copy', 'csv', 'excel', 'pdf']
                    }
                }
            );

            $("input[name='action_no']").on('change', function () {
                    $('#submit_button').prop('style', this.value !== '-1' ? 'padding-top: 10px;' : 'display: none;');
                }
            );
        });


    </script>

{% endblock %}